<!-- Pàgines -->
<div class="modal fade" id="paginesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-square-fill"></i></button>
      <div class="text-center p-3">
        <h5 class="modal-title">Nombre de pàgines</h5>
        <p class="mt-3 mb-0">Afegeix el nombre de pàgines que tindrà el teu projecte.</p>
        <p class="mb-2 m-0">El cost de cada pàgina es de <span>30</span> €.</p>
      </div>
    </div>
  </div>
</div>

<!-- Idiomes -->
<div class="modal fade" id="idiomesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-square-fill"></i></button>
      <div class="text-center p-3">
        <h5 class="modal-title">Nombre d'idiomes</h5>
        <p class="mt-3 mb-0">Afegeix el nombre d'idiomes' que tindrà el teu projecte.</p>
        <p class="mb-2 m-0">El cost de cada idioma es de <span>30</span> €.</p>
      </div>
    </div>
  </div>
</div>
